@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-slide {
  display: none; 
}

.skill-slide.active {
  display: flex;
}

body {
  background-color: aliceblue;/*background: linear-gradient(120deg, #ffe53bd8, #ff2525da);*/
} 
.skill-slide.active {
  opacity: 1;
}
.custom-bounce {
  animation: custom-bounce 7s infinite;
}

/* Adicionando classe para a animação de entrada */
.skill-slide {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

/* Adicionando classe para a animação de pulsação nos ícones */
.pulse {
  animation: pulse 2s infinite;
}

/* Adicionando classe para a transição de cor nos títulos */
.color-transition {
  transition: color 0.5s;
}

/* Estilo para a animação de pulsação */
@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes custom-bounce {
    0%, 100% {
      transform: translateY(-9%);
      animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }
}

.animate-wiggle {
  animation: wiggle 1.5s ease-in-out;
}